body {
    font-family: 'Verdana', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;
    background-color:rgb(243, 2, 163);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.tituloPrincipal {
    font-size: 28px;
    color:white;
    text-align: center;
}
.anuncio{
    background-color: pink;
    color: black;
    padding: 1vh 0;
    font-size: 16px;
    font-weight: bold;
}
.Texto1 {
    text-align: center;
    font-size: 55px;
    margin: 4vh 0;
    color: pink
}

.boton {
    display: block;
    margin: 2vh auto;
    padding: 12px 24px;
    color: white;
    border: 5px solid pink;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    background-color: rgb(243, 2, 163);
    width: 19vh;
}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 4vh 0;
}

.galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 4vh 0;
}

.galeria .imagen img {
    width: 320px;
    height: 332px;
    border-radius: 10px;
    border: 5px solid pink;
}



footer {
    background-color: rgb(243, 2, 163);
    color: white;
    text-align: center;
    padding: 2vh 0;
    font-size: 14px;
}

@media(max-width:420px){

.galeria .imagen img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 5px solid pink;
}

.boton {
    display: block;
    margin: 2vh auto;
    padding: 12px 24px;
    color: white;
    border: 5px solid pink;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    background-color: rgb(243, 2, 163);
    width: 3vh;
}
}
@media(min-width:768px){ 
    .galeria .imagen img {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        border: 5px solid pink;
    }
   
    .boton {
        display: block;
        margin: 2vh auto;
        padding: 12px 24px;
        color: white;
        border: 5px solid pink;
        border-radius: 5px;
        font-size: 18px;
        text-align: center;
        background-color: rgb(243, 2, 163);
        width: 3vh;
    }
     }

   